// Colors
$black: #000;
$gray: #999;
$white: #fff;

$white500: #F8F8F8;
$black500: #0E1011;
$gray500: #6E7070;

// Fonts
$font-sans-serif: 'Inter', 'Arial', 'Helvetica', sans-serif;
$secondary-sans-serif: 'Anton SC', 'Arial', 'Helvetica', sans-serif;
$font-serif:	  'Lora', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body styles
$body-background-color: $white;
$body-text-weight:		400;
$body-font-size: 		16px;
$body-line-height:		1.5;
$body-font-family:		$font-sans-serif;
$body-text-color:		$black500;
$body-min-width:		320px;

//p, ul, ol margins
$paragraph-margins: 0 0 .5em;

// Link
$link-color:		   inherit;
$link-text-decoration: underline;

// Headings
$headings-font-weight: 400;
$headings-font-family: $secondary-sans-serif;
$headings-color:	   inherit;
	//h1
	$h1-fs-phone:   45px;
	$h1-fs-tablet:  55px;
	$h1-fs-desktop: 160px;
	//h2
	$h2-fs-phone:   60px;
	$h2-fs-tablet:  110px;
	$h2-fs-desktop: 200px;
	$h2-fs-lg-widescreen: 320px;
	//h3
	$h3-fs-phone:   50px;
	$h3-fs-tablet:  70px;
	$h3-fs-desktop: 240px;
	//h4
	$h4-fs-phone:   40px;
	$h4-fs-tablet:  60px;
	$h4-fs-desktop: 128px;
	//h5
	$h5-fs-phone:   30px;
	$h5-fs-tablet:  50px;
	$h5-fs-desktop: 80px;
	//h6
	$h6-fs-phone:   20px;
	$h6-fs-tablet:  30px;
	$h6-fs-desktop: 40px;


// Default html and body font-size for the base rem value.
$rem-base: 16px;
$vertical-rhythm: ($body-line-height * 1em);
$animation-speed: 0.2s;
