<footer id="footer">
	<div class="container">
        <div class="title-holder">
            <h3>KAjO©</h3>
        </div>
        <nav class="footer-menu">
            <ul class="pages-list footer-list">
                <li>(Pages)</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="cms-list footer-list">
                <li>(CMS)</li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Work Single</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Blog Single</a></li>
            </ul>
            <ul class="utility-list footer-list">
                <li>(Utility Pages)</li>
                <li><a href="#">404</a></li>
                <li><a href="#">Licensing</a></li>
            </ul>
            <ul class="socials-list footer-list">
                <li>(Socials)</li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Behance</a></li>
                <li><a href="#">Dribbble</a></li>
            </ul>
        </nav>
        <div class="bottom-block">
            <span class="copyright">By Gola Templates</span>
            <span class="anchor-link"><a href="#header">Back to Top</a></span>
        </div>
    </div>
</footer>
